body{
background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.publicdomainpictures.net%2Fen%2Fview-image.php%3Fimage%3D673%26picture%3Ddonuts&psig=AOvVaw024kFuh71cNsQesTKaI4HH&ust=1590547235405000&source=images&cd=vfe&ved=0CAMQjB1qFwoTCPCX1rPA0OkCFQAAAAAdAAAAABAD) no-repeat;
background-size: 100% 100%;
border: 2px solid white;
border-radius: 25px;
}
